body {
    display: flex;
    flex-direction: row;
}

#colonne_de_gauche {
    width: 30%;
    max-width: 300px;
    padding-left: 1%;
    padding-right: 1%;
    background-color:rgb(90, 92, 95) ;
}
#colonne_de_droite {
    max-width: 800px;
    background-color: #e0e4e6;
    padding-left: 1%;
    padding-right: 1%;
}
h1{
    line-height: 0.2em;
}
h1,h3 {
    color:#00c2f7;
    text-align: center;
}
h2{
    color:#00c2f7;
}
#coordonnees{
    text-align: center;
}
#centres_interets{
    text-align: center;
}
#Nom{
    padding-bottom: 100px;
    padding-top: 50px;
}

button{
    
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
button:hover{
    background-color:#4095c6;
}

a{
    color: rgb(90, 92, 95);
    text-decoration: none;
}
